{% extends 'base.html' %}
{% block title %}
    <title>Notifications</title>
{% endblock %}

{% block content %}
    {% include 'side_nav.html' %}
    <div class='column is-5 ml-auto mr-auto'>
        <ul class="list has-hoverable-list-items has-overflow-ellipsis">
            {% for item in notifications %}
                <li class='list-item mb-5'>
                    <div class="list-item-image">
                        <figure class="image is-48x48">
                            {% load static %}
                            <img class="is-rounded" src="{% static 'images/profile.jpg' %}" alt="">
                        </figure>
                    </div>

                    <div class="list-item-content">
                        <div class="list-item-title is-flex is-justify-content-space-between">
                            <span>{{ item.sender }}</span>
                            <span class="has-text-weight-normal has-text-grey">{{ item.date }}</span>
                        </div>
                        <div class="list-item-description">
                            {{ item.message }}
                        </div>
                    </div>

                    {% if item.transaction.money_from.id == user.id %}
                        <div class="list-item-controls is-hidden-mobile mt-2 ml-auto">
                            <div class="buttons">
                                <a class="button is-danger" href="{% url 'pay_app:reject-payment' item.id %}">
                                    <span class="icon"><i class="fas fa-times-square"></i></span>
                                </a>

                                <a class="button is-warning" href="{% url 'pay_app:notification' item.id %}">
                                    <span class="icon"><i class="fas fa-trash"></i></span>
                                </a>

                                <a class="button is-success" href="{% url 'pay_app:accept-payment' item.id %}">
                                    <span class="icon"><i class="fas fa-check-square"></i></span>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </li>
                <hr>
            {% endfor %}
        </ul>
    </div>

{% endblock %}