{% extends 'base.html' %}

{% block title %}
    <title>Transaction Successful</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Transaction Successful</h1>
                <p>Thank you for your payment. Your transaction has been completed, head to the <a
                        href="{% url 'pay_app:dashboard' %}">dashboard</a> to view details of this transaction.</p>
            </div>
        </div>
    </div>
{% endblock %}